
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li routerLinkActive="active">
              <a class="nav-link"  routerLink="/Home" >Home</a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/Hospitals">Hospitals</a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/Hospitals/Post">PostHospitals</a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/Hospitals/getById/id">HospitalDetails</a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/patients">patients</a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/patients/Post">PostPatient</a>
            </li>
    
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/DailysisUnits">DailysisUnits</a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/Doctors">Doctors</a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/Doctors/Post">DoctorsPost</a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/Users">Register</a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/Nurses">Nurses</a>
            </li>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="/Nurses/Post">AddNurses</a>
            </li>

          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>