<div class="container-fluid ">
  <form class="form " (submit)="onSubmit()" class="row g-5 m-5 p-5">
    <div class="form-group">
      <label for="id" class=" control-label">ID:</label>
      <div class="">
        <input type="number" class="form-control" id="id" [(ngModel)]="dialysisUnit.dialysisUnitId" name="dialysisUnitId" required>
      </div>
    </div>
      <div class="form-group">
        <label for="name" class=" control-label">Name:</label>
        <div class="">
          <input type="text" class="form-control" id="name" [(ngModel)]="dialysisUnit.name" name="name" required>
        </div>
      </div>
      <div class="form-group">
        <label for="capacity" class=" control-label">Capacity:</label>
        <div class="">
          <input type="number" class="form-control" id="capacity" [(ngModel)]="dialysisUnit.capacity" name="capacity" required>
        </div>
      </div>
      <div class="form-group">
        <label for="hospitalId" class=" control-label">HospitalID:</label>
        <div class="">
          <input type="number" class="form-control" id="hospitalId" [(ngModel)]="dialysisUnit.hospitalId" name="hospitalId" required>
        </div>
      </div>
      <div class="form-group">
        <div class="">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
</div>

