<div class="container">
  <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="form-group">
      <label for="patientId">Patient ID:</label>
      <input type="number" name="patientId" id="patientId" class="form-control" [(ngModel)]="patient.patientId" required>
      <div class="invalid-feedback">Please enter a valid patient ID.</div>
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" class="form-control" [(ngModel)]="patient.name" required>
      <div class="invalid-feedback">Please enter a valid name.</div>
    </div>
    <div class="form-group">
      <label for="gender">Gender:</label>
      <select name="gender" id="gender" class="form-control" [(ngModel)]="patient.gender" required>
        <option value="" disabled selected>Select gender</option>
        <option [value]="genderOptions.male">Male</option>
        <option [value]="genderOptions.female">Female</option>
      </select>
      <div class="invalid-feedback">Please select a gender.</div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" class="form-control" [(ngModel)]="patient.email" required>
      <div class="invalid-feedback">Please enter a valid email address.</div>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="tel" name="phone" id="phone" class="form-control" [(ngModel)]="patient.phone" required>
      <div class="invalid-feedback">Please enter a valid phone number.</div>
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" name="city" id="city" class="form-control" [(ngModel)]="patient.city" required>
      <div class="invalid-feedback">Please enter a valid city.</div>
    </div>
    <div class="form-group">
      <label for="country">Country:</label>
      <input type="text" name="country" id="country" class="form-control" [(ngModel)]="patient.country" required>
      <div class="invalid-feedback">Please enter a valid city.</div>
    </div>
    <div class="form-group">
      <label for="dialysisUnitId">Dialysis Unit ID:</label>
      <input type="text" name="dialysisUnitId" id="dialysisUnitId" class="form-control" [(ngModel)]="patient.dialysisUnitId" required>
      <div class="invalid-feedback">Please enter a valid dialysis unit ID.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div *ngIf="submitted" class="alert alert-success mt-3">Patient submitted successfully.</div>
  </form>
</div>