
<div class="card g-4">
    <div class="card-body">
      <h6 class="card-title p-3 m-4 ">ID: {{ patient.patientId}}</h6>
      <h6 class="card-title p-3 m-4">Name:{{patient.name}}</h6>
      <h6 class="card-title p-3 m-4">gender:{{patient.gender}}</h6>
      <h6 class="card-title p-3 m-4 ">email: {{ patient.email}}</h6>
      <h6 class="card-title p-3 m-4 ">country: {{ patient.country}}</h6>
      <h6 class="card-title p-3 m-4 ">city: {{patient.city}}</h6>
      <h6 class="card-title p-3 m-4 ">phone: {{patient.phone}}</h6>
      <div>
        <a  routerLink="/patients"> Back </a>
      </div>
    </div>
</div>