<div class="container-fluid">
    <div class="Row">
        <form (ngSubmit)="addnurse()"  class="needs-validation col-md-12 row g-3" > 
            <div class="form-groupb col-md-6"> 
                <label for="id">ID:</label>
                <input type="number" class="form-control" id="id" name="id" value="0"> 
            </div> 
            <div class="form-group col-md-6"> 
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value=""> 
            </div>
            <div class="form-group col-md-6"> 
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="">
        </div> 
            <div class="form-group col-md-6"> 
                <label for="phone">Phone:</label>
                <input type="tel" class="form-control" id="phone" name="phone" value=""> 
            </div> 
            <div class="form-group col-md-6"> <label for="gender">Gender:</label>
            <select class="form-control" id="gender" name="gender">
                <option value="0">Male</option> 
                <option value="1">Female</option> 
            </select> </div>
            <div class="form-group col-md-6"> 
                <label for="dialysisUnitId">Dialysis Unit ID:</label> 
                <input type="number" class="form-control" id="dialysisUnitId" name="dialysisUnitId" value="0">
            </div>
        
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </form>
    </div>
</div>

