
<h1 >Hospitals</h1>
<div class="table-responsive">
  <table class="table table-hover table-striped table-bordered  ">
    <thead>
      <tr>
        <th>HospitalID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Website</th>
        <th>Country</th>
        <th>City</th>
        <th>Area</th>
        <th>Phone 1</th>
        <th>Phone 2</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of hospital" >
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{item.country}} </td>
        <td>{{ item.website }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.area }}</td>
        <td>{{ item.phone1 }}</td>
        <td>{{ item.phone2 }}</td>
        <td> <a [routerLink] = "['/Hospitals/getById',item.id]"> Details </a> </td>
        <td> <a [routerLink] = "['/Hospitals/update',item.id]"> Update </a> </td>
        <td> <a [routerLink] = "['/Hospitals/delete/',item.id]"> delete </a> </td>
      </tr>
    </tbody>
  </table>
</div>
