<h1 >Doctors</h1>
<div class="table-responsive">
  <table class="table table-hover table table-bordered  border-primary table-striped">
    <thead>
      <tr>
        <th>DoctorId</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>position</th>
       <th> dialysisunitId</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of doctors" >
        <td>{{ item.doctorId }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phone }}</td>
        <td>{{item.gender}} </td>
        <td>{{ item.position }}</td>
        <td>{{item.dialysisunitId}}</td>
        <td> <a [routerLink] = "['/Doctors/getById',item.doctorId]"> Details </a> </td>
        <td> <a [routerLink] = "['/Doctors/update',item.doctorId]"> Update </a> </td>
        <td> <a [routerLink] = "['/Doctors/delete/',item.doctorId]"> delete </a> </td>
      </tr>
    </tbody>
  </table>
</div>
