<p>auth-registration works!</p>
<form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.userName" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <div class="input-group">
      <input type="{{showPassword ? 'text' : 'password'}}" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
      <button type="button" class="btn btn-outline-secondary" (click)="toggleShowPassword()">
        <span *ngIf="showPassword">Hide</span>
        <span *ngIf="!showPassword">Show</span>
      </button>
    </div>
  </div>
  <div class="mb-3">
    <label for="confirm-password" class="form-label">Confirm Password:</label>
    <div class="input-group">
      <input type="{{showPassword ? 'text' : 'password'}}" class="form-control" id="confirm-password" name="confirm-password" [(ngModel)]="user.confirmPassword" required>
      <button type="button" class="btn btn-outline-secondary" (click)="toggleShowPassword()">
        <span *ngIf="showPassword">Hide</span>
        <span *ngIf="!showPassword">Show</span>
      </button>
    </div>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>