
    <div class="card g-4">
      <div class="card-body">
        <h5 class="card-title">Name:{{hospital.name}}</h5>
        <h6 class="card-title p-3 m-4 ">ID: {{hospital.id}}</h6>
        <h6 class="card-subtitle p-3 m-4 ">email: {{ hospital.email}}</h6>
        <h6 class="card-subtitle p-3 m-4 ">website: {{hospital.website}}</h6>
        <h6 class="card-subtitle p-3 m-4 ">country: {{hospital.country}}</h6>
        <h6 class="card-subtitle p-3 m-4 ">city: {{hospital.city}}</h6>
        <h6 class="card-subtitle p-3 m-4 ">area: {{hospital.area}}</h6>
        <h6 class="card-subtitle p-3 m-4 ">phone1: {{hospital.phone1}}</h6>
        <h6 class="card-subtitle p-3 m-4 ">phone2: {{hospital.phone2}}</h6>
        <div>
          <a  routerLink="/Hospitals"> Back </a>
        </div>
        </div>
      </div>
